.container {
	width: 960px !important;
}

.content-wrapper {
	background: white;
}

.dataTables_wrapper {
	font-size: 14px !important;
	label {
		color: $text-color;
	}
	td {
		height: 100%;
		vertical-align: middle !important;
	}
}

.main-sidebar {
	.fa {
		width: 25px;
	}
}