.container {
	max-width: 100% !important;
	width: 1100px;
	&.default {
		width: 480px;
	}
	&.medium {
		width: 720px;
	}
}

.content-wrapper {
	background: white;
}

.dataTables_wrapper {
	font-size: 14px !important;
	label {
		color: $text-color;
	}
	td {
		height: 100%;
		vertical-align: middle !important;
	}
}

.main-sidebar {
	.fa {
		width: 25px;
	}
}

.sidebar-toggle {
	line-height: 1.2;
}

.btn-primary:focus, .btn-primary:active, .btn-primary:hover {
	background: #367fa9 !important;
}

.modal-body {
	img {
		max-width: 100%;
		max-height: 150px;
	}
}

.right-5~.SelectBox label {
	right: 5px;
}

.right-10~.SelectBox label {
	right: 10px;
}

.right-min-15~.SelectBox label {
	right: -15px;
}

.gallery {
	.item {
		margin-bottom: 15px;
	}
	img {
		max-width: 100%;
		width: 100%;
		height: 250px;
		object-fit: cover;
		margin-bottom: 5px;
	}
}

.chart {
	margin-top: 30px;
	&:first-child {
		margin-top: 0;
	}
	canvas {
		margin-top: 15px;
	}
}

.survey-title {
	line-height: 1.2em;
}

.step-group {
	margin-top: 30px;
	padding-top: 10px;
	border-top: solid 1px $brand-primary;
	&:first-child {
		padding-top: 0;
		border-top: none;
	}
	.btn-delete-survey {
		position: relative;
		top: -2px;
	}
	.step-questions {
		padding-left: 20px;
		.question-group {
			margin-top: 30px;
			padding-top: 10px;
			border-top: solid 1px $brand-info;
			.question-answers, .package-lists, .voucher-lists {
				padding-left: 20px;
				margin-bottom: 20px;
				.answer-group {
					margin-top: 15px;
					padding-top: 15px;
					border-top: solid 1px $brand-danger;
					.btn-delete-survey {
						top: 3px;
					}
				}
			}
		}
	}
}