@import "variables";

* {
	outline: none !important;
}

label {
	color: $brand-danger;
}

.btn {
	border: 0;
}

textarea {
	border-radius: 10px;
	padding: 5px;
	width: 100%;
	height: 200px;
	resize: none;
	border: solid 1px $input-border;
}

textarea:focus {
	border: solid 1px $input-border-focus;
}

// >>> Border
.border-bottom-only {
	border: 0;
	outline: 0;
	box-shadow: none;
	border-bottom: solid 2px $input-border;
}

.border-bottom-only:focus {
	border: 0;
	outline: 0;
	box-shadow: none;
	border-bottom: solid 2px $input-border-focus;
}

.no-border-radius {
	border-radius: 0;
}

.border-round {
	min-width: 100px;
	border-radius: 30px;
	padding: 6px 20px;
}
// <<< End Border

// >>> Radio Button & Checkbox
.radio {
	margin-top: 0;
	label {
		padding-left: 0;
		margin-right: 15px;
	}
}
.checkbox {
	margin-top: 0;
	&:hover {
		cursor: pointer;
	}
}
input[type="radio"], input[type="checkbox"] {
	display: none;
	& + .indicator {
		position: relative;
		display: inline-block;
		top: 6px;
		width: 24px;
		height: 24px;
		margin-right: 5px;
		border: solid 1px $laravel-border-color;
	}
}
input[type="radio"] {
	& + .indicator {
		border-radius: 100%;
	}
	&:checked + .indicator > span {
		display: block;
		margin: 6px;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background: $label-color;
	}
}
input[type="checkbox"] {
	&:checked + .indicator > span {
		content: '';
		position: absolute;
		top: 5px;
		left: 5px;
		width: 14px;
		height: 8px;
		border: 3px solid red;
		border-top: none;
		border-right: none;
		transform: rotate(-45deg);
	}
}
// <<< End Radio Button

// >>> Google Map
.gmap {
	height: 200px;
	margin: 0 0 25px;
	background: $map-background-color;
}
// <<< End Google Map

// >>> Input type file
input[type="file"] {
	display: none;
}
// <<< End Input type file

// >>> User balance
.form-group {
	span.icon-red {
		display: inline-block;
		width: 32px;
		height: 32px;
		margin-right: 5px;
		.fa {
			margin: 6px 0;
		}
	}
	.user-balance {
		color: lighten($text-color, 20%);
	}
}
// <<< End user balance

// >>> Modal
.modal-close {
	position: absolute;
	top: -12px;
	right: -12px;
	padding: 0 6px;
	background: $brand-danger;
	border-radius: 100%;
	color: white;
	border: solid 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
// <<< End Modal