@import "variables";

.container {
	max-width: 480px !important;
	padding: 0 10px;
	margin-bottom: 30px;
}

.sales-home {
	margin: 15px 0;
	.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
		min-height: 55px;
		display: flex;
		align-items: center;
	}
}

.icon-red {
	display: flex;
	align-items: center;
	text-align: center;
	background: $label-color;
	color: white;
	width: 40px;
	height: 40px;
	margin: auto;
	border-radius: 100%;
	box-shadow: none;
	border: 0;
	.fa {
		display: block;
		margin: auto;
		font-size: 1.2em;
	}
}

.user-action a:last-child {
	margin-top: 10px;
}