@import "variables";

.status-bar {
	display: block;
	background-color: $brand-primary;
	height: 160px;
	padding: 10px;
	margin-bottom: 30px;
	.title {
		margin: auto;
		max-width: 480px;
		padding: 0 10px;
		font-size: 16px;
		color: $title-text-color;
		.logo {
			height: 80px;
			margin: auto;
		}
		h3 {
			margin: 20px auto 10px;
		}
		a {
			color: $title-text-color;
		}
	}
	&.small {
		height: 75px;
		.title {
			font-size: 16px;
			h3, h4 {
				display: inline-block;
				margin: 15px auto;
			}
			.btn-back {
				position: relative;
				top: 4px;
				margin-right: 5px;
				color: white;
			}
			.date {
				margin: 14px 2px 14px auto;
			}
		}
	}
}