@import "variables";

h2 {
	font-weight: bold;
}

.status-bar {
	display: block;
	background-color: $brand-primary;
	height: 160px;
	padding: 10px;
	margin-bottom: 30px;
	.title {
		margin: auto;
		max-width: 480px;
		font-size: 16px;
		color: $title-text-color;
		.logo {
			height: 80px;
			margin: auto;
			background-color: #ffffff;
			border-radius: 40px;
			padding: 5px 30px;
		}
		h3 {
			margin: 20px auto 10px;
		}
	}
	&.small {
		height: 75px;
		.title {
			font-size: 16px;
			h3 {
				margin: 10px auto;
			}
		}
	}
}