@import "variables";

.step-indicator {
	display: inline-block;
	margin: 14px 0;
	#step-index {
		position: relative;
		display: inline-block;
		margin: auto;
		border-radius: 24px;
		width: 24px;
		height: 24px;
		font-size: 12px;
		background-color: $brand-danger;
		color: white;
		text-align: center;
		padding: 3px;
		top: -2px;
	}
	#step-description {
		margin-left: 3px;
	}
}

h4.inline-block {
	display: inline-block;
}